.objective {
  padding: 6rem;
  width: 100%;
  background-color: #d0ecee;
}
.objective-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.objective-title {
  font-size: 40px;
  font-weight: 700;
}

.objective-body {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 2rem;
}
